# Virtual Environment
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
static/

# Environment Variables
.env
.env.local
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
.coverage
htmlcov/
.pytest_cache/
